{{ 'header-hiring.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header-hiring.js' | asset_url }}" defer></script>

<header class="header_container">

  <!-- Botão hambúrguer para mobile -->
  <button class="hamburger_menu" id="hamburgerMenu">
    <div class="hamburger_icon">
      {{ 'hamburguer.svg' | inline_asset_content }}
    </div>
    <div class="close_icon">
      {{ 'close.svg' | inline_asset_content }}
    </div>
  </button>

  <div class="header_container_image">
    <img
      src="{{ section.settings.shop_image | image_url }}"
      alt="Shop Image"
      width="auto"
      height="auto">
  </div>

  <!-- Conteúdo desktop -->
  <div class="header_container_content desktop_content">
    <h1>{{ section.settings.header_text }}</h1>
  </div>

  <div class="header_container_button desktop_content">
    <a href="{{ section.settings.button_link }}" class="button">
      <div class="button_content">
        {{ section.settings.button_text }}
        {{ 'arrow-right.svg' | inline_asset_content }}
      </div>
    </a>
  </div>

  <!-- Menu mobile -->
  <div class="mobile_menu" id="mobileMenu">
    <div class="mobile_menu_content">
      <h1>{{ section.settings.mobile_header_text }}</h1>
      <a href="{{ section.settings.button_link }}" class="button">
        <div class="button_content">
          {{ section.settings.button_text }}
          {{ 'arrow-right.svg' | inline_asset_content }}
        </div>
      </a>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header Hiring",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Header Content"
      },
      {
        "type": "image_picker",
        "id": "shop_image",
        "label": "Shop Image"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text",
        "default": "Find the ideal gift for your loved ones."
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Chose Gift"
      }, {
        "type": "text",
        "id": "mobile_header_text",
        "label": "Mobile Header Text",
        "default": "Get started with your 'Mi Solo' kit"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Header Hiring"
      }
    ]
  }
{% endschema %}