{{ 'header-hiring.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header-hiring.js' | asset_url }}" defer></script>

<header class="header_container">

  <!-- Botão hambúrguer para mobile -->
  <button class="hamburger_menu" id="hamburgerMenu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="header_container_image">
    <img
      src="{{ section.settings.shop_image | image_url }}"
      alt="Shop Image"
      width="auto"
      height="auto">
  </div>

  <!-- Conteúdo desktop -->
  <div class="header_container_content desktop_content">
    <h1>{{ section.settings.header_text }}</h1>
  </div>

  <div class="header_container_button desktop_content">
    <a href="{{ section.settings.button_link }}" class="button">
      <div class="button_content">
        {{ section.settings.button_text }}
        {{ 'arrow-right.svg' | inline_asset_content }}
      </div>
    </a>
  </div>

  <!-- Menu mobile -->
  <div class="mobile_menu" id="mobileMenu">
    <div class="mobile_menu_content">
      <h1>{{ section.settings.mobile_header_text }}</h1>
      <a href="{{ section.settings.button_link }}" class="button">
        <div class="button_content">
          {{ section.settings.button_text }}
          <svg
            width="31"
            height="12"
            viewBox="0 0 31 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1.36377 4.80469L0.61377 4.80469L0.613769 6.30469L1.36377 6.30469L1.36377 4.80469ZM30.184 6.08502C30.4768 5.79213 30.4768 5.31725 30.184 5.02436L25.411 0.251388C25.1181 -0.0415052 24.6432 -0.0415052 24.3503 0.251388C24.0574 0.544282 24.0574 1.01916 24.3503 1.31205L28.593 5.55469L24.3503 9.79733C24.0574 10.0902 24.0574 10.5651 24.3503 10.858C24.6432 11.1509 25.1181 11.1509 25.411 10.858L30.184 6.08502ZM1.36377 6.30469L29.6536 6.30469L29.6536 4.80469L1.36377 4.80469L1.36377 6.30469Z" fill="black" />
          </svg>
        </div>
      </a>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header Hiring",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Header Content"
      },
      {
        "type": "image_picker",
        "id": "shop_image",
        "label": "Shop Image"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text",
        "default": "Find the ideal gift for your loved ones."
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Chose Gift"
      }, {
        "type": "text",
        "id": "mobile_header_text",
        "label": "Mobile Header Text",
        "default": "Get started with your 'Mi Solo' kit"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Header Hiring"
      }
    ]
  }
{% endschema %}